#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_SG.UTF-8

# Network information
network  --bootproto=dhcp --device=eno16777736 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$.LZX/BUIjmDr2gnl$ggk4r1I3XvnxjOcf8U3RgYB1XdWDF1UoKKFLMWLu43aZRBybakEwypC3oDQ9JaChhQQkvMZAsB2Od3a/Izx8U.
# System timezone
timezone Asia/Singapore --isUtc
user --groups=wheel --name=vagrant --password=$6$7DPgRqWxT7BTDa1o$0BaOcoLxvmacFxvkU9RnTQvIa.PuGl6SrkNXpiQLR5WLAbU1dwgnu7QudfacaY9sRU9CDtv.Oi94j9nX0yV.q. --iscrypted --gecos="Vagrant"
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
