#version=DEVEL
install
text

# Localization

# Keyboard
keyboard --vckeymap=us --xlayouts='us'

# Language Support
lang en_SG.UTF-8

# Time & Date
timezone Asia/Singapore --isUtc

# Software

# Installation Source
url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch"
repo --name="updates" --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f$releasever&arch=$basearch"

# Software Selection
# see %packages section

# System

# Installation Destination
ignoredisk --only-use=sda
clearpart --all --drives=sda --initlabel
autopart --type=lvm --fstype=xfs
zerombr
bootloader --location=mbr --boot-drive=sda

# Network & Host Name
network  --bootproto=dhcp --device=link --ipv6=auto --activate --hostname=localhost.localdomain

# User Settings
user --groups=wheel --name=vagrant --password=vagrant --plaintext --gecos="Vagrant"

# Root Password
rootpw --plaintext vagrant

# User Creation
auth --enableshadow --passalgo=sha512

services --enabled="chronyd,sshd"
selinux --permissive
firewall --disabled
firstboot --disabled
reboot --eject
xconfig  --startxonboot




%packages
@^workstation-product-environment
open-vm-tools
nano
%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --erroronfail --log=/root/anaconda-ks.log
sed -i -e '/^%wheel/ s/^#* */# /' /etc/sudoers
sed -i -e '/%wheel.\+NOPASSWD/ s/^#* *//' /etc/sudoers
grep -q -e '^\s*Defaults\s\+requiretty\s*$' /etc/sudoers && sed -i -e 's/^\s*Defaults\s\+requiretty.*$/Defaults    !requiretty/' /etc/sudoers || sed -i -e '0,/^\s*Defaults.*$/ s//Defaults    !requiretty\n\0/' /etc/sudoers

curl -sSLj -o /tmp/vagrant "https://github.com/hashicorp/vagrant/blob/master/keys/vagrant"
curl -sSLj -o /tmp/vagrant.pub "https://raw.githubusercontent.com/mitchellh/vagrant/master/keys/vagrant.pub"

mkdir -p "/home/vagrant/.ssh"
cp "/tmp/vagrant" "/home/vagrant/.ssh/id_rsa"
cp "/tmp/vagrant.pub" "/home/vagrant/.ssh/id_rsa.pub"
cp "/tmp/vagrant.pub" "/home/vagrant/.ssh/authorized_keys"
chown -R "vagrant:vagrant" "/home/vagrant/.ssh"
chmod 0700 "/home/vagrant/.ssh"
chmod 0644 "/home/vagrant/.ssh/authorized_keys" "/home/vagrant/.ssh/id_rsa.pub"
chmod 0600 "/home/vagrant/.ssh/id_rsa"

mkdir -p "/root/.ssh"
cp "/tmp/vagrant" "/root/.ssh/id_rsa"
cp "/tmp/vagrant.pub" "/root/.ssh/id_rsa.pub"
cp "/tmp/vagrant.pub" "/root/.ssh/authorized_keys"
chown -R "vagrant:vagrant" "/root/.ssh"
chmod 0700 "/root/.ssh"
chmod 0644 "/root/.ssh/authorized_keys" "/root/.ssh/id_rsa.pub"
chmod 0600 "/root/.ssh/id_rsa"

rm -rf /tmp/vagrant /tmp/vagrant.pub

%end

