#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_SG.UTF-8

# Network information
network  --bootproto=dhcp --device=eno16777736 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$CRTVPuD25nY1x0xU$Sz2I330Ke5yakkY4a4XhOgS1q2opxnxyMKn8n9SlYyjtzlRIaH1dEVGe.iVDt3N4k0RzO5LAqjdU3B7RcklWm1
# System timezone
timezone Asia/Singapore --isUtc
user --groups=wheel --name=vagrant --password=$6$zce2EH5Cavlif9Le$SfiQh4L0yYWFLy5WLSbeCZTNJJfdw4egeLavIcIshz9PIXeN9uMbUz9Y9uvo/btBlwR99j3LQ3Jr1KFNO1IXB1 --iscrypted --gecos="Vagrant"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^workstation-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
