#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_SG.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$awTfZLwXX4Zv67Yf$aOnIyaM1xdGZuPeNwmc4xp2/DtJ5FqVA1r81OiXaSXJm4.LAJJy3dG/iCRDq9TGNF3R1..HICU1PsmJh/.Mht1
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Singapore --isUtc
user --groups=wheel --name=vagrant --password=$6$o8ny1nxeXG4/ju6f$JinyUr/veLa/jAnmzXdm7YaTrGGKXiXoxk9o1W2Z0m7D33ALCE4vhHmVq7pfAUcNykhfd/IJ7.oH2sHQ3EMdT0 --iscrypted --gecos="Vagrant"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^workstation-product-environment
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
